body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
}

/** AppJS section */

.App {
  border: 2px solid #cfd9df;
  border-radius: 5px;
  background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

input {
  min-width: 10rem;
  width: 13rem;
}

.tasks {
  line-height: 0.6;
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 5px;
}

.task {
  border: 1px solid #ccc;
  border-radius: 5px;
}

.task:hover {
  transform: scale(0.98);
}

.line {
  text-decoration: line-through;
}
